<hr style="border-top: 3px solid #808080;" />
<footer class="text-center alert alert-info">
  Developed by <strong>Tahir Irshad</strong>. To learn more about the project , please visit <a href="http://www.github.com/tahirokian" target="_blank"><strong>Github</strong></a>
</footer>
