<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Calendar Application</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <style>
    body { padding-top:80px; }
  </style>
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Welcome to Calendar Application</h1>
        <p>Please login or signup to continue:</p>
        <a href="/login" class="btn btn-info"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-info"><span class="fa fa-user"></span> Signup</a>
    </div>
  </div>
</body>
</html>
